flows.json
[{"id":"838f567f.9c17c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a85b204.ec77ee","type":"ui_tab","z":"","name":"Registration Form","icon":"dashboard","disabled":false,"hidden":false},{"id":"da31feaa.ee46d","type":"ui_group","z":"","name":"Reg Form","tab":"2a85b204.ec77ee","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f25d77a.e03959","type":"ui_tab","z":"","name":"Login Form","icon":"dashboard","disabled":false,"hidden":false},{"id":"db26d410.8471f8","type":"ui_group","z":"","name":"Login Form","tab":"1f25d77a.e03959","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea1b0b69.57abd8","type":"ui_group","z":"","name":"Customer Help[Bot]","tab":"dc1a2b2c.e90798","order":1,"disp":true,"width":"6","collapse":false},{"id":"a28a531d.23112","type":"ui_group","z":"","name":"Customer Help [Bot]","tab":"","disp":true,"width":"6","collapse":false},{"id":"dc1a2b2c.e90798","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"559fb30e.88501c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9100c142.19938","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"26300709.7bcc88","type":"ui_group","z":"","name":"Customer Help [Bot]","tab":"9100c142.19938","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e94e23.d1c3a1e","type":"ui_tab","z":"","name":"Bot Response","icon":"dashboard","disabled":false,"hidden":false},{"id":"ed86240f.b3e8c8","type":"ui_group","z":"","name":"Bot Response","tab":"1e94e23.d1c3a1e","order":1,"disp":true,"width":"6","collapse":false},{"id":"baefc89.1596138","type":"ui_form","z":"838f567f.9c17c8","name":"","label":"","group":"da31feaa.ee46d","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Enter Emailid","value":"Email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Name":"","Email":"","Password":""},"payload":"","submit":"Create","cancel":"cancel","topic":"","x":130,"y":160,"wires":[["2525c50.700783c","23b380e2.ec145"]]},{"id":"2525c50.700783c","type":"debug","z":"838f567f.9c17c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":40,"wires":[]},{"id":"23b380e2.ec145","type":"function","z":"838f567f.9c17c8","name":"","func":"msg.payload = {\n    _id:msg.payload.Email,\n    Name:msg.payload.Name,\n    Email:msg.payload.Email,\n    Password:msg.payload.Password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":220,"wires":[["7c706137.d978f"]]},{"id":"7c706137.d978f","type":"cloudant out","z":"838f567f.9c17c8","name":"cloudant","cloudant":"","database":"sample","service":"node-red-ceojq-2020--cloudant-1597403173705-27530","payonly":true,"operation":"insert","x":550,"y":220,"wires":[]},{"id":"e934a13b.71813","type":"ui_form","z":"838f567f.9c17c8","name":"","label":"","group":"db26d410.8471f8","order":0,"width":0,"height":0,"options":[{"label":"Email","value":"Email","type":"email","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Email":"","Password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":420,"wires":[["36d0c753.b4f448"]]},{"id":"36d0c753.b4f448","type":"function","z":"838f567f.9c17c8","name":"","func":"global.set('Email',msg.payload.Email);\nglobal.set('Password',msg.payload.Password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":420,"wires":[["9eb93211.48d8"]]},{"id":"9eb93211.48d8","type":"function","z":"838f567f.9c17c8","name":"","func":"var Email=global.get('Email');\n\nmsg.payload=\"Email:\"+Email;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":420,"wires":[["4729300c.2cec1"]]},{"id":"4729300c.2cec1","type":"cloudant in","z":"838f567f.9c17c8","name":"sample","cloudant":"","database":"sample","service":"node-red-ceojq-2020--cloudant-1597403173705-27530","search":"_idx_","design":"User","index":"User","x":720,"y":420,"wires":[["8ae7fa84.3cb788"]]},{"id":"126c6dc9.bdd572","type":"debug","z":"838f567f.9c17c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":480,"wires":[]},{"id":"8ae7fa84.3cb788","type":"function","z":"838f567f.9c17c8","name":"","func":"if(msg.payload[0].Password===global.get('Password')){\n    msg.payload='Login Successful';\n}\nelse{\n    msg.payload='Logiin ka bhosda'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":420,"wires":[["126c6dc9.bdd572","46c979ad.36e3f8"]]},{"id":"46c979ad.36e3f8","type":"ui_text","z":"838f567f.9c17c8","group":"db26d410.8471f8","order":1,"width":0,"height":0,"name":"","label":"Login Successful","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":360,"wires":[]},{"id":"6bf06019.cb164","type":"function","z":"838f567f.9c17c8","name":"","func":"msg.payload = msg.payload.Input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":580,"wires":[["c88311cf.8356e"]]},{"id":"c88311cf.8356e","type":"watson-conversation-v1","z":"838f567f.9c17c8","name":"","workspaceid":"eb3f9b74-49aa-49ba-9323-cf428ae6a66a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/69f2915d-b63d-45c7-91b7-467ebcd64397","timeout":"","optout-learning":false,"x":570,"y":580,"wires":[["3ceebd4d.3279f2","9cdebb19.ed43b8"]]},{"id":"51c99b33.c1a6d4","type":"ui_form","z":"838f567f.9c17c8","name":"","label":"","group":"26300709.7bcc88","order":0,"width":0,"height":0,"options":[{"label":"User Input","value":"Input","type":"text","required":true,"rows":null}],"formValue":{"Input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":580,"wires":[["6bf06019.cb164"]]},{"id":"3ceebd4d.3279f2","type":"debug","z":"838f567f.9c17c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":660,"wires":[]},{"id":"9cdebb19.ed43b8","type":"function","z":"838f567f.9c17c8","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":580,"wires":[["7e44fd39.926ad4","71a54e66.03044"]]},{"id":"7e44fd39.926ad4","type":"ui_text","z":"838f567f.9c17c8","group":"26300709.7bcc88","order":0,"width":"6","height":"9","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":600,"wires":[]},{"id":"71a54e66.03044","type":"ui_audio","z":"838f567f.9c17c8","name":"","group":"26300709.7bcc88","voice":"en-US","always":"","x":940,"y":680,"wires":[]}]